<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388247623060-0no6u01bf5rkrf463scc8q4kmei09pau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388247623060-0no6u01bf5rkrf463scc8q4kmei09pau</string>
	<key>API_KEY</key>
	<string>AIzaSyAY8NDzfv1Srjxg4s1nM0dAac2FMnpMw4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>388247623060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-fluter-codelab-4fc8c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-fluter-codelab-4fc8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388247623060:ios:28033c5c10c0d38a2aab81</string>
</dict>
</plist>